<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Nombre Cliente' %><br>
    <%= f.text_field :clinombre %>
  </div>
  <div class="field">
    <%= f.label :'Razon Social' %><br>
    <%= f.text_field :clirazonsocial %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br>
    <%= f.text_field :clidireccion %>
  </div>
  <div class="field">
    <%= f.label :Rut %><br>
    <%= f.text_field :clirut %>
  </div>
  <div class="field">
    <%= f.label :Digito %><br>
    <%= f.text_field :clidv %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.text_field :cliestado %>
  </div>
  <div class="field">
    <%= f.label :'Fecha Creacion' %><br>
    <%= f.date_select :clifechacreacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
