<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.clinombre %>
</p>

<p>
  <strong>Razon Social:</strong>
  <%= @cliente.clirazonsocial %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.clidireccion %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @cliente.clirut %>
</p>

<p>
  <strong>Digito:</strong>
  <%= @cliente.clidv %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.cliestado %>
</p>

<p>
  <strong>Fecha Creacion:</strong>
  <%= @cliente.clifechacreacion %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
