<p id="notice"><%= notice %></p>

<p>
  <strong>Clinombre:</strong>
  <%= @cliente.clinombre %>
</p>

<p>
  <strong>Clirazonsocial:</strong>
  <%= @cliente.clirazonsocial %>
</p>

<p>
  <strong>Clidireccion:</strong>
  <%= @cliente.clidireccion %>
</p>

<p>
  <strong>Clirut:</strong>
  <%= @cliente.clirut %>
</p>

<p>
  <strong>Clidv:</strong>
  <%= @cliente.clidv %>
</p>

<p>
  <strong>Cliestado:</strong>
  <%= @cliente.cliestado %>
</p>

<p>
  <strong>Clifechacreacion:</strong>
  <%= @cliente.clifechacreacion %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
