<p id="notice"><%= notice %></p>

<p>
  <strong>Perid:</strong>
  <%= @rolpersona.perid %>
</p>

<p>
  <strong>Rolid:</strong>
  <%= @rolpersona.rolid %>
</p>

<p>
  <strong>Ropeestado:</strong>
  <%= @rolpersona.ropeestado %>
</p>

<p>
  <strong>Ropefechacreacion:</strong>
  <%= @rolpersona.ropefechacreacion %>
</p>

<p>
  <strong>Ropedescripcion:</strong>
  <%= @rolpersona.ropedescripcion %>
</p>

<%= link_to 'Edit', edit_rolpersona_path(@rolpersona) %> |
<%= link_to 'Back', rolpersonas_path %>
