<p id="notice"><%= notice %></p>

<h1>Listing Tareas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tarnombre</th>
      <th>Tarestado</th>
      <th>Tarfechacreacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.tarnombre %></td>
        <td><%= tarea.tarestado %></td>
        <td><%= tarea.tarfechacreacion %></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Show', tarea %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_tarea_path(tarea) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Destroy', tarea, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'New Tarea', new_tarea_path %></button>
