<%= form_for(@comentario) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ettaid %><br>
    <%= f.number_field :ettaid %>
  </div>
  <div class="field">
    <%= f.label :proid %><br>
    <%= f.number_field :proid %>
  </div>
  <div class="field">
    <%= f.label :pretid %><br>
    <%= f.number_field :pretid %>
  </div>
  <div class="field">
    <%= f.label :comcomentario %><br>
    <%= f.text_area :comcomentario %>
  </div>
  <div class="field">
    <%= f.label :comestado %><br>
    <%= f.text_field :comestado %>
  </div>
  <div class="field">
    <%= f.label :comfechacreacion %><br>
    <%= f.date_select :comfechacreacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
