<p id="notice"><%= notice %></p>

<p>
  <strong>Ettaid:</strong>
  <%= @comentario.ettaid %>
</p>

<p>
  <strong>Proid:</strong>
  <%= @comentario.proid %>
</p>

<p>
  <strong>Pretid:</strong>
  <%= @comentario.pretid %>
</p>

<p>
  <strong>Comcomentario:</strong>
  <%= @comentario.comcomentario %>
</p>

<p>
  <strong>Comestado:</strong>
  <%= @comentario.comestado %>
</p>

<p>
  <strong>Comfechacreacion:</strong>
  <%= @comentario.comfechacreacion %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
