<p id="notice"><%= notice %></p>

<p>
  <strong>Cliid:</strong>
  <%= @contacto.cliid %>
</p>

<p>
  <strong>Connombre:</strong>
  <%= @contacto.connombre %>
</p>

<p>
  <strong>Conapellidopaterno:</strong>
  <%= @contacto.conapellidopaterno %>
</p>

<p>
  <strong>Conapellidomaterno:</strong>
  <%= @contacto.conapellidomaterno %>
</p>

<p>
  <strong>Concargo:</strong>
  <%= @contacto.concargo %>
</p>

<p>
  <strong>Contelefono:</strong>
  <%= @contacto.contelefono %>
</p>

<p>
  <strong>Conmail:</strong>
  <%= @contacto.conmail %>
</p>

<p>
  <strong>Conestado:</strong>
  <%= @contacto.conestado %>
</p>

<p>
  <strong>Confechacreacion:</strong>
  <%= @contacto.confechacreacion %>
</p>

<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
