<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @contacto.cliid %>
</p>

<p>
  <strong>Nombre Contacto:</strong>
  <%= @contacto.connombre %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @contacto.conapellidopaterno %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @contacto.conapellidomaterno %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @contacto.concargo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @contacto.contelefono %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @contacto.conmail %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @contacto.conestado %>
</p>

<p>
  <strong>Fecha de Creacion:</strong>
  <%= @contacto.confechacreacion %>
</p>

<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
