<%= form_for(@etapatarea) do |f| %>
  <% if @etapatarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etapatarea.errors.count, "error") %> prohibited this etapatarea from being saved:</h2>

      <ul>
      <% @etapatarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Proyecto' %><br>
    <%= f.number_field :pretid %>
  </div>
  <div class="field">
    <%= f.label :Tarea %><br>
    <%= f.number_field :tarid %>
  </div>
  <div class="field">
    <%= f.label :'Rol Persona' %><br>
    <%= f.number_field :ropeid %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.text_field :ettaestado %>
  </div>
  <div class="field">
    <%= f.label :'Fecha de Creacion' %><br>
    <%= f.date_select :ettafechacreacion %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_area :ettadescripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
