<p id="notice"><%= notice %></p>

<p>
  <strong>Pretid:</strong>
  <%= @etapatarea.pretid %>
</p>

<p>
  <strong>Tarid:</strong>
  <%= @etapatarea.tarid %>
</p>

<p>
  <strong>Ropeid:</strong>
  <%= @etapatarea.ropeid %>
</p>

<p>
  <strong>Ettaestado:</strong>
  <%= @etapatarea.ettaestado %>
</p>

<p>
  <strong>Ettafechacreacion:</strong>
  <%= @etapatarea.ettafechacreacion %>
</p>

<p>
  <strong>Ettadescripcion:</strong>
  <%= @etapatarea.ettadescripcion %>
</p>

<%= link_to 'Edit', edit_etapatarea_path(@etapatarea) %> |
<%= link_to 'Back', etapatareas_path %>
