<p id="notice"><%= notice %></p>

<h1>Listing Rols</h1>

<table class="table">
  <thead>
    <tr>
      <th>Rolnombre</th>
      <th>Rolestado</th>
      <th>Rolfechacreacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rols.each do |rol| %>
      <tr>
        <td><%= rol.rolnombre %></td>
        <td><%= rol.rolestado %></td>
        <td><%= rol.rolfechacreacion %></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Show', rol %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_rol_path(rol) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Destroy', rol, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'New Rol', new_rol_path %></button>
