<p id="notice"><%= notice %></p>

<h1>Listing Proyectoetapas</h1>

<table>
  <thead>
    <tr>
      <th>Etaid</th>
      <th>Ropeid</th>
      <th>Proid</th>
      <th>Pretestado</th>
      <th>Pretfechacreacion</th>
      <th>Pretdescripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectoetapas.each do |proyectoetapa| %>
      <tr>
        <td><%= proyectoetapa.etaid %></td>
        <td><%= proyectoetapa.ropeid %></td>
        <td><%= proyectoetapa.proid %></td>
        <td><%= proyectoetapa.pretestado %></td>
        <td><%= proyectoetapa.pretfechacreacion %></td>
        <td><%= proyectoetapa.pretdescripcion %></td>
        <td><%= link_to 'Show', proyectoetapa %></td>
        <td><%= link_to 'Edit', edit_proyectoetapa_path(proyectoetapa) %></td>
        <td><%= link_to 'Destroy', proyectoetapa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyectoetapa', new_proyectoetapa_path %>
