<p id="notice"><%= notice %></p>

<p>
  <strong>Etaid:</strong>
  <%= @proyectoetapa.etaid %>
</p>

<p>
  <strong>Ropeid:</strong>
  <%= @proyectoetapa.ropeid %>
</p>

<p>
  <strong>Proid:</strong>
  <%= @proyectoetapa.proid %>
</p>

<p>
  <strong>Pretestado:</strong>
  <%= @proyectoetapa.pretestado %>
</p>

<p>
  <strong>Pretfechacreacion:</strong>
  <%= @proyectoetapa.pretfechacreacion %>
</p>

<p>
  <strong>Pretdescripcion:</strong>
  <%= @proyectoetapa.pretdescripcion %>
</p>

<%= link_to 'Edit', edit_proyectoetapa_path(@proyectoetapa) %> |
<%= link_to 'Back', proyectoetapas_path %>
