<p id="notice"><%= notice %></p>

<p>
  <strong>Etapa:</strong>
  <%= @proyectoetapa.etaid %>
</p>

<p>
  <strong>Rol Persona:</strong>
  <%= @proyectoetapa.ropeid %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @proyectoetapa.proid %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @proyectoetapa.pretestado %>
</p>

<p>
  <strong>Fecha de Creacion:</strong>
  <%= @proyectoetapa.pretfechacreacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyectoetapa.pretdescripcion %>
</p>

<%= link_to 'Edit', edit_proyectoetapa_path(@proyectoetapa) %> |
<%= link_to 'Back', proyectoetapas_path %>
