<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Rut %><br>
    <%= f.text_field :perrut %>
  </div>
  <div class="field">
    <%= f.label :Digito %><br>
    <%= f.text_field :perdv %>
  </div>
  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :pernombre %>
  </div>
  <div class="field">
    <%= f.label :'Apellido Paterno' %><br>
    <%= f.text_field :perapellidopaterno %>
  </div>
  <div class="field">
    <%= f.label :'Apellido Materno' %><br>
    <%= f.text_field :perapellidomaterno %>
  </div>
  <div class="field">
    <%= f.label :'Fecha de Nacimiento' %><br>
    <%= f.date_select :perfechanacimiento %>
  </div>
  <div class="field">
    <%= f.label :'Fecha de ingreso' %><br>
    <%= f.date_select :perfechaingreso %>
  </div>
  <div class="field">
    <%= f.label :Cargo %><br>
    <%= f.text_field :percargo %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.text_field :perestado %>
  </div>
  <div class="field">
    <%= f.label :'Fecha de Creacion' %><br>
    <%= f.date_select :perfechacreacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
