<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :perrut %><br>
    <%= f.text_field :perrut %>
  </div>
  <div class="field">
    <%= f.label :perdv %><br>
    <%= f.text_field :perdv %>
  </div>
  <div class="field">
    <%= f.label :pernombre %><br>
    <%= f.text_field :pernombre %>
  </div>
  <div class="field">
    <%= f.label :perapellidopaterno %><br>
    <%= f.text_field :perapellidopaterno %>
  </div>
  <div class="field">
    <%= f.label :perapellidomaterno %><br>
    <%= f.text_field :perapellidomaterno %>
  </div>
  <div class="field">
    <%= f.label :perfechanacimiento %><br>
    <%= f.date_select :perfechanacimiento %>
  </div>
  <div class="field">
    <%= f.label :perfechaingreso %><br>
    <%= f.date_select :perfechaingreso %>
  </div>
  <div class="field">
    <%= f.label :percargo %><br>
    <%= f.text_field :percargo %>
  </div>
  <div class="field">
    <%= f.label :perestado %><br>
    <%= f.text_field :perestado %>
  </div>
  <div class="field">
    <%= f.label :perfechacreacion %><br>
    <%= f.date_select :perfechacreacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
