<p id="notice"><%= notice %></p>

<h1>Listing Personas</h1>

<table class="table">
  <thead>
    <tr>
      <th>RUT</th>
      <th>DV</th>
      <th>NOMBRE</th>
      <th>APELLIDO PATERNO</th>
      <th>APELLIDO MATERNO</th>
      <th>FECHA DE NACIMIENTO</th>
      <th>FECHA DE INGRESO</th>
      <th>CARGO</th>
      <th>ESTADO</th>
      <th>FECHA DE CREACION</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.perrut %></td>
        <td><%= persona.perdv %></td>
        <td><%= persona.pernombre %></td>
        <td><%= persona.perapellidopaterno %></td>
        <td><%= persona.perapellidomaterno %></td>
        <td><%= persona.perfechanacimiento %></td>
        <td><%= persona.perfechaingreso %></td>
        <td><%= persona.percargo %></td>
        <td><%= persona.perestado %></td>
        <td><%= persona.perfechacreacion %></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Show', persona %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Edit', edit_persona_path(persona) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to 'Destroy', persona, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default"><%= link_to 'New Persona', new_persona_path %></button>
