<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @persona.perrut %>
</p>

<p>
  <strong>Digito:</strong>
  <%= @persona.perdv %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @persona.pernombre %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @persona.perapellidopaterno %>
</p>

<p>
  <strong>apellido Materno:</strong>
  <%= @persona.perapellidomaterno %>
</p>

<p>
  <strong>Fecha de Nacimiento:</strong>
  <%= @persona.perfechanacimiento %>
</p>

<p>
  <strong>Fecha de Ingreso:</strong>
  <%= @persona.perfechaingreso %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @persona.percargo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @persona.perestado %>
</p>

<p>
  <strong>Fecha de Creacion:</strong>
  <%= @persona.perfechacreacion %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
