<p id="notice"><%= notice %></p>

<p>
  <strong>Perrut:</strong>
  <%= @persona.perrut %>
</p>

<p>
  <strong>Perdv:</strong>
  <%= @persona.perdv %>
</p>

<p>
  <strong>Pernombre:</strong>
  <%= @persona.pernombre %>
</p>

<p>
  <strong>Perapellidopaterno:</strong>
  <%= @persona.perapellidopaterno %>
</p>

<p>
  <strong>Perapellidomaterno:</strong>
  <%= @persona.perapellidomaterno %>
</p>

<p>
  <strong>Perfechanacimiento:</strong>
  <%= @persona.perfechanacimiento %>
</p>

<p>
  <strong>Perfechaingreso:</strong>
  <%= @persona.perfechaingreso %>
</p>

<p>
  <strong>Percargo:</strong>
  <%= @persona.percargo %>
</p>

<p>
  <strong>Perestado:</strong>
  <%= @persona.perestado %>
</p>

<p>
  <strong>Perfechacreacion:</strong>
  <%= @persona.perfechacreacion %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
