<p id="notice"><%= notice %></p>

<p>
  <strong>Rol Persona:</strong>
  <%= @cuentum.ropeid %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cuentum.cliid %>
</p>

<p>
  <strong>Nombre de la Cuenta:</strong>
  <%= @cuentum.cuenombre %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cuentum.cueestado %>
</p>

<p>
  <strong>Fecha de Creacion:</strong>
  <%= @cuentum.cuefechacreacion %>
</p>

<%= link_to 'Edit', edit_cuentum_path(@cuentum) %> |
<%= link_to 'Back', cuenta_path %>
