<p id="notice"><%= notice %></p>

<p>
  <strong>Ropeid:</strong>
  <%= @cuentum.ropeid %>
</p>

<p>
  <strong>Cliid:</strong>
  <%= @cuentum.cliid %>
</p>

<p>
  <strong>Cuenombre:</strong>
  <%= @cuentum.cuenombre %>
</p>

<p>
  <strong>Cueestado:</strong>
  <%= @cuentum.cueestado %>
</p>

<p>
  <strong>Cuefechacreacion:</strong>
  <%= @cuentum.cuefechacreacion %>
</p>

<%= link_to 'Edit', edit_cuentum_path(@cuentum) %> |
<%= link_to 'Back', cuenta_path %>
