<p id="notice"><%= notice %></p>

<h1>Listing Etapas</h1>

<table>
  <thead>
    <tr>
      <th>Etanombre</th>
      <th>Etaestado</th>
      <th>Etafechacreacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etapas.each do |etapa| %>
      <tr>
        <td><%= etapa.etanombre %></td>
        <td><%= etapa.etaestado %></td>
        <td><%= etapa.etafechacreacion %></td>
        <td><%= link_to 'Show', etapa %></td>
        <td><%= link_to 'Edit', edit_etapa_path(etapa) %></td>
        <td><%= link_to 'Destroy', etapa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etapa', new_etapa_path %>
