<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre Etapa:</strong>
  <%= @etapa.etanombre %>
</p>

<p>
  <strong>Estado Etapa:</strong>
  <%= @etapa.etaestado %>
</p>

<p>
  <strong>Fecha Creacion:</strong>
  <%= @etapa.etafechacreacion %>
</p>

<%= link_to 'Edit', edit_etapa_path(@etapa) %> |
<%= link_to 'Back', etapas_path %>
